<md-card class="container">
  <md-card-content>
    <h2 class="md-padding"><span class="flex">Demo</span></h2>
    <form #ngForm>
      <div class="flex flex-44 md-margin">
        <div>
          <md-input-inline label="Full name" [(ngModel)]="user.name" name="user.name">
          </md-input-inline>
          <br>
          <em>Binding</em>
          <span> — </span>
          <code>{{user.name}}</code>
        </div>
      </div>

      <div class="flex flex-44">
        <div class="md-padding">
          <md-input-inline type="email" label="Email address" [(ngModel)]="user.email" name="user.email">
          </md-input-inline>
          <br>
          <em>Binding</em>
          <span> — </span>
          <code>{{user.email}}</code>
        </div>
      </div>

      <div class="flex flex-44">
        <div class="md-padding">
          <md-input-inline type="phone" label="Phone number" [(ngModel)]="user.phone" name="user.phone">
          </md-input-inline>
          <br>
          <em>Binding</em>
          <span> — </span>
          <code>{{user.phone}}</code>
        </div>
      </div>

      <div class="flex flex-44">
        <div class="md-padding">
          <md-input-inline type="select" [items]="countries" label="Country" optgroupLabel="Select Country" [(ngModel)]="user.country" name="user.country">
          </md-input-inline>
          <br>
          <em>Binding</em>
          <span> — </span>
          <code>{{user.country}}</code>
        </div>
      </div>
    </form>
  </md-card-content>
</md-card>
