<<<<<<< db3e60a25a2698ef8e5729d396c757bc212b9a32
body {
  font: 300 1em Roboto, "Avir Next", "Verdana";
  color: #555;
  background-color: #f3f3f3;
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> chore: initial commit from angular-cli
