<div *ngIf="typeIndex === 0">
  <div *ngIf="editing">
    <md-input [pattern]="pattern" #mdInputInlineControl [min]="min" [max]="max" [minlength]="minlength" [maxlength]="maxlength" [min]="min" (focus)="focus($event)" [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label"
        [type]="type" class="form-control {{classNames}}"></md-input>
  </div>
  <div *ngIf="!editing">
    <label class="block bold">{{label}}</label>
    <div [md-tooltip]="tooltip" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">{{value}}&nbsp;</div>
  </div>
</div>

<div *ngIf="typeIndex === 1">
  <div *ngIf="editing">
    <md-textarea #mdTextareaInlineControl [minlength]="minlength" [maxlength]="maxlength" [min]="min" (focus)="focus($event)" [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" class="form-control {{classNames}}"></md-textarea>
  </div>
  <div *ngIf="!editing">
    <label class="block bold">{{label}}</label>
    <div class="inline-textarea" [md-tooltip]="tooltip" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">{{value}}&nbsp;</div>
  </div>
</div>

<div *ngIf="typeIndex === 2">
  <div *ngIf="editing">
    <label class="select-label block">{{label}}</label>
    <select #mdSelectInlineControl (focus)="focus($event)" [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value">
     <optgroup [label]="optgroupLabel || label">
      <option *ngFor="let item of items; let index = index;" [value]="itemIdKey ? item[itemIdKey]: item" [label]="itemLabelKey ? item[itemLabelKey]: item ">{{itemLabelKey ? item[itemLabelKey]: item}}</option>
     </optgroup>
    </select>
  </div>
  <div *ngIf="!editing">
    <label class="block">{{label}}</label>
    <div [md-tooltip]="tooltip" (click)="edit(value)" (focus)="edit(value)" tabindex="0" class="inline-edit">{{getName()}}&nbsp;</div>
  </div>
</div>
